# Forcer Docker à télécharger la version légère de PyTorch pour CPU uniquement
--extra-index-url https://pytorch.org

# Bibliothèques IA & Embeddings (Version CPU)
torch==2.11.0
sentence_transformers==5.6.0
transformers==5.14.1
chromadb==1.5.9

# API & Serveur
fastapi==0.141.1
uvicorn
python-multipart==0.0.32
pydantic==2.13.4
python-dotenv==1.2.2

# Base de données & Connecteurs
pymongo==4.17.0
groq==1.6.0
ollama==0.6.2
google-genai==2.11.0

# Traitement de texte et fichiers
pdfplumber==0.11.10
python_docx==1.2.0
python_pptx==1.0.2
openpyxl==3.1.5

# Utilitaires linguistiques et calcul
deep_translator==1.11.4
deepl==1.30.0
langdetect==1.0.9
pycountry==26.2.16
rapidfuzz==3.14.5
numpy==2.2.6
protobuf==7.35.1

# Autres utilitaires
invoke==3.0.3
typer==0.27.1
